.url-generator .md-input-container-fix {
  margin-top: 4px !important;
  margin-bottom: 0 !important;
  height: 40px !important;
}

.url-generator .md-input-select-container-fix {
  margin-top: 4px !important;
  margin-bottom: 22px !important;
}

.url-generator .md-switch-fix {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.url-generator .md-chips-fix .md-chips {
  padding: 2px !important;
  margin-bottom: 10px !important;
}
