<!--server input-->
<span ng-switch="ugCtrl.isPredefinedServer" flex>

  <span ng-switch-when="true">
    <md-input-container class="md-block md-input-select-container-fix">
      <label>SECURITY_DATA</label>
      <md-select class="md-accent"
                 ng-model="ugCtrl.serverOption"
                 md-container-class="select-values-container">
        <md-option ng-repeat="server in ugCtrl.serverValues" value="{{::$index}}" title="{{::server[2]}}">
          {{::server[0]}}
        </md-option>
      </md-select>
    </md-input-container>
  </span>

  <span ng-switch-when="false">
    <md-input-container class="md-block md-input-container-fix">
      <label>SECURITY_DATA
        <small>SECURITY_DATA</small>
      </label>
      <input id="server-option-custom" ng-model="ugCtrl.serverOptionCustom">
    </md-input-container>
  </span>

</span>

<!-- switch-->
<md-switch class="md-accent md-switch-fix" ng-model="ugCtrl.isPredefinedServer"
           aria-label="Predefined Share Servers">
  <div>
    <md-icon ng-class="{'md-accent': ugCtrl.isPredefinedServer}" class="ng-cloak" md-font-icon="material-icons">
      format_list_bulleted
    </md-icon>
  </div>
</md-switch>
